<template>
  <div>
    <q-toolbar class="text-primery shadow-2">
      <q-toolbar-title>
        View {{$store.getters.GET_MODE}}
      </q-toolbar-title>
      <q-space  />
      <q-btn
        v-bind:flat="!listView"
        round
        push
        dense
        glossy
        color="primary"
        icon=" format_list_numbered"
         class="q-mx-xs"
        @click="listView = true"
      />
      <q-btn
        :flat="listView"
        round
        push
        glossy
        dense
        color="primary"
        icon="map"
        class="q-mx-xs"
        @click="listView = false"
      >
      </q-btn>
      <q-btn
       round
       :flat="settings"
        glossy
        push
        dense
        color="primary"
        icon="settings"
        class="q-mx-sm"
       @click ="settings=true"
      >
      <q-menu
          transition-show="scale"
          transition-hide="rotate"
          >
        <!--settings-->
        <p-settings
        style="width:auto"
        @closed="settings=!settings"
        />
      </q-menu>
    </q-btn>
    </q-toolbar>
    <!--Department with all rooms-->
    <h4 class="q-pl-xl">Department {{dep_name}}</h4>
    <div v-if="rooms.length === 0"  style="margin: 180px 0 auto 0" class="row justify-center full-height full-width q-pb-lg ">
    <!--wait for rooms-->
     <q-circular-progress
      indeterminate
      size="76px"
      color="primary"
      class="q-ma-md"
    />
    </div>
    <div v-else>
    <!--Rooms as listview-->
    <transition name="listView" >
      <div v-if="listView" class="l">
      <list-view
        :id="dep_nr"
        :rooms="rooms"
        :patients="patients"
        @room-click="enterRoom"
        @room-r-click="createError"
      />
    </div>
    </transition>
    <!--Rooms as floop plan-->
      <transition name="slide-fade" >
    <div v-if="!listView">
      <map-view
      :rooms="rooms"
      :patients="patients"
       @room-click="enterRoom"
       @floor-plan-to-small="listView = true"
      >
      </map-view>
    </div>
     </transition>
    </div>
  </div>
</template>

<script>

import ErrorService from '../services/ErrorService'
import RoomService from '../services/RoomService'
import PatientService from '../services/PatientService'
import ListView from 'components/RoomsListView'
import MapView from 'components/RoomsMapView'
import PSettings from 'components/Settings'

export default {
  name: 'Departments',
  components: {
    ListView, MapView, PSettings
  },
  props: {
    dep_nr: {
      type: String,
      required: true
    },
    dep_name: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      name: null,
      settings: false,
      listView: true,
      polingID: undefined,
      rooms: [],
      patients: []
    }
  },
  beforeCreate () {
    this.rooms = ''
    this.patients = ''
  },
  created () {
    this.rooms = ''
    this.patients = ''
    this.roomService = new RoomService()
    this.patientService = new PatientService()
    this.loadRooms(this.dep_nr)
    this.loadPatients()
    this.updateData()
  },
  beforeDestroy () {
    this.rooms = ''
    this.patients = ''
    clearInterval(this.polingID)
  },
  computed: {

  },
  watch: {
    dep_nr (newValue, oldValue) {
      this.rooms = ''
      this.patients = ''
      this.loadRooms(newValue)
      this.loadPatients()
    }
  },
  methods: {
    createError (room) {
      if (this.$q.screen.lt.sm) {
        ErrorService.showAlertError('Error created by ' + room.id, 'bottom')
      } else {
        ErrorService.showAlertError('Error created by ' + room.id)
      }
    },
    enterRoom (room) {
      if (this.$q.screen.lt.sm) {
        ErrorService.showAlertInfo('Entered into room ' + room.id, 'bottom')
      } else {
        ErrorService.showAlertInfo('Entered into room ' + room.id)
      }
      window.location.href = '#/department/' + this.dep_name + '/room/' + room.id
    },
    async loadRooms (depNr) {
      setTimeout(async () => {
        try {
          this.rooms = await this.roomService.getByDepartement(depNr)
        } catch (error) {
          ErrorService.showAlertError('Loading rooms failed')
          this.rooms = {}
          clearInterval(this.polingID)
        }
      }, 1000)
    },
    async loadPatients () {
      setTimeout(async () => {
        try {
          this.patients = await this.patientService.get()
        } catch (error) {
          ErrorService.showAlertError('Loading patients failed')
        }
      }, 1000)
    },
    updateData () {
      this.polingID = setInterval(() => {
        this.loadRooms(this.dep_nr)
        this.patients = ''
        this.loadPatients()
      }, this.$store.getters.refreshrate)
    }
  }
}
</script>

<style scoped>

.slide-fade-enter-active, .fade-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-leave-active, .fade-leave-active{
  transition: all .9s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter,  .fade-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-20px);
  opacity: 0;
}
.slide-fade-leave-to, .fade-leave-to{
  transform: translateY(20px);
  opacity: 0;
}

.listView-enter-active, .listView-active{
transition: all 1.2s ease;
}
.listView-leave-active, .listView-active{
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.listView-enter,  .listView-enter
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-20px);
  opacity: 0;
}
.listView-leave-to, .listView-leave-to{
  transform: translateY(20px);
  opacity: 0;
}
</style>
