<template>
  <q-page class="q-mb-sm">
    <div style="margin: -20px 0   ">
    <div class="q-mt-xl q-mx-xl row justify-center">
    <img alt="logo" src="statics/app-welcome_logo.png" style="height: 120px; max-width: 300px" >
    <h2>Welcome to Hospitaal SPA</h2>
    </div>
    <div class=" q-mb-xl q-mx-xl row justify-center">
      <img class="responsive q-mx-md welcome_photo"
          src="statics/welcome_photo.jpg"
        >
    </div>
    </div>

     </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>

<style scoped>
.welcome_photo {
-webkit-box-shadow: 0px 0px 92px -18px rgba(33,186,68,1);
-moz-box-shadow: 0px 0px 92px -18px rgba(33,186,68,1);
box-shadow: 0px 0px 92px -18px rgba(33,186,68,1);

}
</style>
