<template>
  <q-page class="row flex-left">
    <h6 class="q-pl-xl">Hospital SPA <br>
     Created with <a tag="a" title="University ollege" target="_blank" href="https://quasar.dev/">
     Quasar </a>  and  <a tag="a" title="University ollege" target="_blank" href="https://quasar.dev/">
     Vue </a></h6>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
