<template>
  <q-page>
    <h5 class="q-pl-xl">{{dep_name}} Room {{rm_nr}} </h5>
    <div class="row justify-center q-gutter-md q-pb-lg">
     <p class="q-mx-lg">Below you will find information about the patient who is in this room</p>
    </div>
    <patient-info
    class="q-mx-lg"
     :id="patient.id"
     :dep_name="dep_name"
     :room="room"
     :patient="patient"
    />
  </q-page>
</template>

<script>
import PatientInfo from 'components/Patient'
import PatientService from '../services/PatientService'
import RoomService from '../services/RoomService'
import ErrorService from '../services/ErrorService'

export default {
  name: 'PageIndex',
  components: {
    PatientInfo
  },
  props: {
    dep_name: {
      type: String,
      required: true
    },
    rm_nr: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      patient: {},
      id: 0,
      room: {}
    }
  },
  created () {
    this.roomService = new RoomService()
    this.patientService = new PatientService()
    this.loadRoom(this.rm_nr)
    this.changeData()
  },
  watch: {
    rm_nr () {
      this.loadPatient()
    },
    room () {

    }
  },
  methods: {
    async loadRoom (id) {
      try {
        this.room = await this.roomService.getById(id)
      } catch (error) {
        ErrorService.showAlertError('Loading room failed')
      }
      this.loadPatient()
    },
    async loadPatient () {
      try {
        if (this.room.patient_id > 0) {
          this.patient = await this.patientService.getById(this.room.patient_id)
        } else {
          this.patient = await this.patientService.getById(Number(this.room.patietn_id))
          alert('thisis shit')
        }
      } catch {
        Error.showAsAlert(
          'Updating todo on server failed, your data is not in sync'
        )
      }
    }
  }
}
</script>
