<template>
  <q-layout :class="$store.getters.GET_MODE"  view="lHh Lpr lff">
    <q-header elevated :class="$store.getters.GET_MODE">
      <q-toolbar >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />
        <q-toolbar-title>
          Hospital
        </q-toolbar-title>
        <div>
          Created by <a tag="a" target="_blank" href="https://www.linkedin.com/in/gevorg-abgaryan-9643a3119/">{{ author }}</a>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      :class="$store.getters.GET_MODE"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
    <div style=" height: 100%;" :class="$store.getters.GET_MODE">
      <q-list  class="menu">
        <q-item-label header>Departments
            <q-icon name="local_hospital" color="green"/>
        </q-item-label>

       <div v-for="(dep, i) in departaments" :key="dep.id">
        <q-item  :to="'/department/'+dep+'/'+(i+1)">
          <q-item-section avatar>
            <q-icon name="assistant"  color="primary"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{dep}}</q-item-label>
            <q-item-label caption></q-item-label>
          </q-item-section>
        </q-item>
       </div>
          <!-- this is for test   -->
           <q-separator spaced />
            <q-item to="/info">
          <q-item-section avatar>
            <q-icon name="info" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Info</q-item-label>
            <q-item-label caption></q-item-label>
          </q-item-section>
        </q-item>
        <!--^^-->
        <q-card-actions style="height: 0vh">
        </q-card-actions>
      </q-list>
      </div>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer :class="$store.getters.GET_MODE" class="row justify-center" elevated>
      <p class="q-pt-sm"><a tag="a" title="University ollege" target="_blank" href="http://www.kdg.be">KdG</a><b> © 2019-2020</b> </p>
    </q-footer>
  </q-layout>
</template>

<script>
var pjson = require('../../package.json')
export default {
  name: 'MyLayout',
  data () {
    return {
      author: pjson.author,
      leftDrawerOpen: false
    }
  },
  computed: {
    departaments () {
      return this.$store.getters.GET_departaments
    }
  }
}
</script>

<style >
.menu{
  -webkit-box-shadow: 0px 8px 5px 0px rgba(33,186,69,0.94);
-moz-box-shadow: 0px 8px 5px 0px rgba(33,186,69,0.94);
box-shadow: 0px 8px 5px 0px rgba(33,186,69,0.94);
}
a {
  color:#1A6331;
}
.dark{
  background-color:rgba(49, 46, 46, 0.932);
  color: rgba(33,186,69,0.94);
}
.dark div.room{
  background-color:rgba(49, 46, 46, 0.632);
  color: rgba(33,186,69,0.94);
}
.dark .input{
   color: red
}
@keyframes blinker {
  0%{opacity: 1.0}
  50%{opacity: 0.0}
  100%{opacity: 1.0}
}
</style>
