<template>
  <q-list
    separator
    bordered
  >
  <P class="q-px-lg q-pt-lg"><B>Actions</B></P>
    <q-item
      v-for="(action) in actions"
      :key="action"

    >

      <q-item-section avatar>
        <q-checkbox
          color="green"
          v-model="action.done"
          @input="actionUpdated(action)"
        />
      </q-item-section>

      <q-item-section>
        <q-input
          v-model="action.type"
          @blur="actionUpdated(action)"
          bg-color="white"
          dense
          standout="bg-primary text-white"
        />
      </q-item-section>

    <q-item-section>
        <q-input
          v-model="action.description"
          @blur="actionUpdated(action)"
          bg-color="white"
          dense
          standout="bg-primary text-white"
        />
      </q-item-section>

 <q-item-section>
        <q-input
          v-model="action.time"
          @blur="actionUpdated(action)"
          bg-color="white"
          dense
          standout="bg-primary text-white"
        />
      </q-item-section>

      <q-item-section side>
        <q-btn
          round
          dense
          flat
          icon="delete"
          color="negative"
          size="14px"
          @click="actiondDelate(action)"
        />
      </q-item-section>
    </q-item>
  </q-list>
</template>

<style scoped>
</style>

<script>

export default {
  name: 'ActionList',
  props: {
    actions: {
      type: Array,
      required: true
    }
  },
  methods: {
    actionUpdated (action) {
      this.$emit('action-updated', action)
    }
  },
  actiondDelate (action) {
    this.$emit('action-delated', action)
  }
}
</script>
