<template>
  <div id="rmT" class="row justify-center q-gutter-md q-pb-lg">
    <q-card :class="$store.getters.GET_MODE" class="q-mb-xl">
        <q-card-section class="flex">
         <q-avatar  round>
          <img @contextmenu="roomRClicked(patient)" style="width:50px" :src="'../statics/patients/p'+patient.id+'.jpg'">
         </q-avatar>
         <p class="q-pl-lg">Name <b>{{patient.name}}</b><br>{{patient.record.date}}
          {{patient.record.reason}} <br>Vegetarian {{patient.vegetarian ? "yes" : "no"}}  </p>
        </q-card-section>
        <q-card-section class="flex">
            <p><b>Doctor</b>  {{patient.doctor}}</p>
        </q-card-section>
        <q-card-section class="flex">
            <p><b>Description</b> {{patient.description}}</p>
        </q-card-section>
        <action-list
        class="q-mb-lg"
        :actions="patient.action"
        @action-updated="gs"
        @action-delated="gs"
        />
     </q-card>
     </div>
</template>

<script>
import ActionList from 'components/ActionList'
import ErrorService from '../services/ErrorService'

export default {
  name: 'Patient',
  components: {
    ActionList
  },
  props: {
    id: {
      type: Number,
      required: true
    },
    patient: {
      type: Object,
      required: true
    },
    dep_name: {
      type: String,
      required: true
    }

  },
  data () {
    return {
      patients: []
    }
  },
  created () {
    this.loadPatients()
  },
  watch: {
    rooms () {
      this.loadPatients()
    }
  },
  computed: {

  },
  methods: {
    loadPatients () {
      try {
        this.rooms.forEach(async (r) => (r.patient_id > 0) ? this.patients.push(await this.patientService.getById(r.patient_id)) : console.log('gs'))
      } catch (error) {
        console.log('gs')
      }
    },
    roomClicked (room) {
      this.$emit('room-click', room)
    },
    roomRClicked (room) {
      this.$emit('room-r-click', room)
    },
    gs (action) {
      if (this.$q.screen.lt.sm) {
        ErrorService.showAlertInfo(action.type + ' ' + action.time + ' updated', 'bottom')
      } else {
        ErrorService.showAlertInfo(action.type + ' ' + action.time + ' updated')
      }
    }
  }

}
</script>

<style scoped>
.room{
  transition: background-color 200ms linear;
  min-width: 320px;
  min-height: 320px;
  max-width: 350px;
  max-height: 350px;
  border-style:  solid;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter  /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0.9;
}
.fade-leave-to{
 opacity: 0.3;
}

#rmT {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
   margin: 0px 25px 0px 25px;
}

 @media only screen and (min-width: 720px) {
  #rmT {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px 99px 0px 99px;
    padding: 0 0 0 0;
    align-content: flex-start;
  }
}
</style>
