<template>
  <div  @onresize="validScreen()" class="mapContainer row  q-pb-lg">
    <img
    class=" q-pl-xl"
     src="statics/floor.png"
    style="height: 100%; min-width:1150px; max-width:1110px"
    />
    <q-card
      v-for="room in rooms"
      :key="room"
      class="room"
      :style="getPosition(room)">
        <div @click="roomClicked(room)"  v-if="room.patient_id > 0" >
          <p style="display:none"> {{ patient = patients.find(p => p.id == room.patient_id )}}
           {{patient.action.sort((a, b) => (new Date(b.time) - new Date(a.time)))}}</p>
          <q-card-section  style="padding:0px" >
            <div class="row justify-center q-mx-sm" style="width:max; height: 15px" :style="roomAlarm(room, patient)"></div>
              <div style="margin:3px 0 0 10px">
                <p v-if="showRoomNr" style="margin:0px">Room {{room.id.toFixed(2)}}</p>
                <p v-if="showPatient" > {{patient.name}} </p>
              </div>
            <div v-if="showMonitoringData">
              <div style="margin:0" class=" row ">
                <q-avatar  round  style="width:1px height:1px"  icon="favorite_border" />
                <p><br> {{room.heartbeat}}  </p>
              </div>
              <div class=" row">
                <q-avatar  round><img @contextmenu="roomRClicked(patient)" style="width:15px" src="../assets/blood-pressure.svg">
                </q-avatar>
                <p>{{room.bloodPressure}}</p>
              </div>
            </div>
            <p>Next action: <b> {{patient.action[0].type}} </b><br>
         <b>{{patient.action[0].time}} </b></p>
            </q-card-section>
          </div>
        <div v-else>
          <q-card-section  v-if="showRoomNr"  >
            <h6 style="margin:2px">Room {{room.id.toFixed(2)}}</h6>
          </q-card-section>
          <q-separator/>
          <q-card-section>
              this room is empty
          </q-card-section>
          <q-separator/>
          <q-card-actions v-if="showFacilities" style="padding-top : 0">
            <q-avatar v-for="faci in room.facilities" v-bind:key="faci.id" flat round  :icon="faci" />
          </q-card-actions>
        </div>
      </q-card>
  </div>
</template>

<script>
import AlarmService from '../services/AlarmService'
import ErrorService from '../services/ErrorService'

export default {
  name: 'RoomsMapView',
  props: {
    rooms: {
      type: Array,
      required: true
    },
    patients: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      patient: {},
      screenSize: 1200,
      alarmSound: new Audio('../statics/alarms/alarm2.mp3')
    }
  },
  created () {
    window.addEventListener('resize', this.resize)
    this.validScreen()
  },
  destroyed () {
    window.removeEventListener('resize', this.resize)
  },
  computed: {
    mode () {
      return this.$store.state.mode
    },
    showRoomNr () {
      return this.$store.getters.GET_showRoomNr
    },
    showPatient () {
      return this.$store.getters.GET_showPatient
    },
    showFacilities () {
      return this.$store.getters.GET_showFacilities
    },
    showMonitoringData () {
      return this.$store.getters.GET_showMonioringData
    },
    showActie () {
      return this.$store.getters.GET_showAction
    },
    nextActionTime () {
      return this.$store.getters.GET_actionNextTime
    },
    heartBeatRange () {
      return this.$store.getters.GET_heartBeatRange
    },
    alarmSoundState () {
      return this.$store.state.alarmSound
    }

  },

  methods: {
    validScreen () {
      if (document.documentElement.clientWidth < this.screenSize) {
        this.toSmall()

        if (this.$q.screen.lt.sm) {
          ErrorService.showAlertError("You can't view map (window size  < " + this.screenSize + ')', 'bottom')
        } else {
          ErrorService.showAlertError("You can't view map (window size  < " + this.screenSize + ')')
        }
      }
    },
    resize () {
      if (document.documentElement.clientWidth < 720) { this.toSmall() }
    },
    roomClicked (room) {
      this.$emit('room-click', room)
    },
    toSmall () {
      this.$emit('floor-plan-to-small')
    },
    onMapClick (event) {
      this.$emit('map-click', { x: event.offsetX, y: event.offsetY })
    },
    getPosition (todo) {
      return {
        left: todo.x + 'px', top: todo.y + 'px'
      }
    },
    roomAlarm (room, patient) {
      return AlarmService.roomAlarm(room, patient, this.heartBeatRange, this.nextActionTime, this.alarmSound, this.alarmSoundState)
    }
  }
}
</script>

<style scoped>
.mapContainer {
  margin-top: 0px;
  position: relative; /* allow postioning of markes relative to upper left corner of mapContainer*/
  overflow: auto;
  height: 100%;
  width: 95%;
}
.room {
  position: absolute;
  max-width: 143px;
  min-width: 143px;
  min-height: 250px;
  max-height: 250px;
}
</style>
