<template  :class="mode">
  <div id="allRooms" class="row justify-center q-gutter-md q-pb-lg">
    <q-card
     class="room"
     v-for="room in rooms" :key="room">
       <!-- if room has a patient show this  -->
     <div @click="roomClicked(room)" v-if="room.patient_id > 0" >
      <p style="display:none"> {{ patient = patients.find(p => p.id == room.patient_id )}}
        {{patient.action.sort((a, b) => (new Date(b.time) - new Date(a.time)))}}
      </p>
      <q-card-section  >
        <div style="width:max; height: 15px;" :style="roomAlarm(room,patient)" ></div>
        <p v-if="showRoomNr" style="margin:5px"><b>Room {{room.id.toFixed(2)}} </b></p>
      </q-card-section>
        <q-separator/>
      <q-card-section   style="padding-bottom:0">
        <p v-if="showPatient">Patient <b> {{patient.name}} </b></p>
        <div v-if="showMonitoringData"  class="row">
         <q-avatar  round  icon="favorite_border" />
          <p>{{room.heartbeat}}</p>
         <q-avatar  round>
          <img @contextmenu="roomRClicked(room)" style="width:20px" src="../assets/blood-pressure.svg">
         </q-avatar>
          <p>{{room.bloodPressure}}</p>
        </div>
       <div v-if="!patient.action[0].done">
        <div v-if="showActie" >
          <p>Next action: <b> {{patient.action[0].type}} </b><br>
         Action time:  <b>{{patient.action[0].time}}</b> </p>
        </div>
        </div>
      </q-card-section>
      </div>
  <!-- if room has no patient show this  -->
      <div v-else>
        <q-card-section>
         <h6 v-if="showRoomNr" style="margin:2px">Room {{room.id.toFixed(2)}}</h6>
        </q-card-section>
        <q-separator/>
             <q-card-section>
               this room is empty
             </q-card-section>
      </div>
    <!-- Facilietie -->
       <q-separator />
       <div v-if="showFacilities">
      <q-card-section style="padding-bottom : 0">
        <p   style="margin:0">Facilities</p>
      </q-card-section>
      <q-card-actions style="padding-top : 0">
        <q-avatar v-for="faci in room.facilities" v-bind:key="faci.id" flat round  :icon="faci" />
      </q-card-actions>
       </div>
     </q-card>
     </div>

</template>

<script>
import AlarmService from '../services/AlarmService'

export default {
  name: 'ListView',
  props: {
    id: {
      type: String,
      required: true
    },
    rooms: {
      type: Array,
      required: true
    },
    patients: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      patient: {},
      track: new Audio('../statics/alarms/alarm1.mp3')
    }
  },
  created () {

  },
  watch: {
    patients () {
      console.log(this.patient)
    }
  },
  computed: {
    mode () {
      return this.$store.getters.GET_MODE
    },
    nextActionTime () {
      return this.$store.getters.GET_actionNextTime
    },
    heartBeatRange () {
      return this.$store.getters.GET_heartBeatRange
    },
    showRoomNr () {
      return this.$store.getters.GET_showRoomNr
    },
    showPatient () {
      return this.$store.getters.GET_showPatient
    },
    showFacilities () {
      return this.$store.getters.GET_showFacilities
    },
    showMonitoringData () {
      return this.$store.getters.GET_showMonioringData
    },
    showActie () {
      return this.$store.getters.GET_showAction
    },
    alarmSound () {
      return this.$store.state.alarmSound
    }
  },
  methods: {
    roomClicked (room) {
      this.$emit('room-click', room)
    },
    roomRClicked (room) {
      this.$emit('room-r-click', room)
    },
    roomAlarm (room, patient) {
      return AlarmService.roomAlarm(room, patient, this.heartBeatRange, this.nextActionTime, this.track, this.alarmSound)
    }

  }

}

</script>

<style scoped>
.room{
  transition: background-color 200ms linear;
  min-width: 250px;
  min-height: 320px;
  max-width: 250px;
  max-height: auto;
  border-style:  solid;
  border-color:hsla(287, 10%, 17%, 0.247);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter  /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0.9;
}
.fade-leave-to{
 opacity: 0.3;
}

#allRooms {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

 @media only screen and (min-width: 720px) {
  #allRooms {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px 15px 0px 99px;
    align-content: flex-start;
  }
}
</style>
