 <template>
  <div :class="mode" @mousemove="refresh" @click="refresh" @mouseleave="refresh" class="mapContainer row  q-pb-lg">
    <div class="row no-wrap q-pa-md" >
        <div class="column">
            <div class="text-h6 q-mb-md" >Settings</div>
              <q-toggle @input="toggleMode" :value="darkMode" label="Dark mode" />
              <q-toggle @input="toggleAlarm" :value="alarmSound" label="Alarm" />
              <q-toggle @input="toggleRoomNr" :value="showRoomNr" label="Show Room Nr" />
              <q-toggle @input="togglePatient" :value="showPatient" label="Show Patient" />
              <q-toggle @input="toggleMonioringData" :value="showMonioringData" label="Show Data" />
              <q-toggle @input="toggleAction" :value="showAction" label="Show Action" />
              <q-toggle @input="toggleFacilities" :value="showFacilities" label="Show Facilities" />
            </div>
            <q-separator vertical inset class="q-mx-sm" />
            <div class="column items-center">
            <div>
              <q-badge
            class="q-mb-lg"
             @click="refresh"
              color="primary">
            Action time: {{ actiontime() /60000 + 'min'}} (1min to 120min)
            </q-badge>
            <q-slider
            v-model="$store.state.nextActionTime"
            @click="refresh"
            :min="60000"
            :max="3600000 *2"
            :step="60000"
            label
            :label-value="actiontime() /60000 + 'min'"
            label-always
            color="primary"
            />
            </div>

           <q-badge
            class="q-mb-lg"
              color="primary">
            Refresh time: {{ $store.state.dataRefrashe /1000 + 'sec'}}
            </q-badge>
            <q-slider
            v-model="$store.state.dataRefrashe"
           @click="refresh"
            :min="1000"
            :max="60000"
            :step="1000"
            label
            :label-value="$store.state.dataRefrashe /1000 + 'sec'"
            label-always
            color="primary"
            />
            <p>Heart beat range</p>
            <div class="row justify-center">
            <q-input
              v-model.number="$store.state.heartBeatRange[0]"
              class="input q-mx-sm"
              type="number"
              filled
              min=55
              max=75
              :value="$store.state.heartBeatRange[0]"
              color="primary"
              textColor="red"
              style="max-width: 200px; color: red"
            />
              <q-input
              v-model.number="$store.state.heartBeatRange[1]"
              class="input q-mx-sm"
              type="number"
              filled
              min=95
              max=135
              :value="$store.state.heartBeatRange[1]"
              color="primary"

              style="max-width: 200px; color: red"
            />
            </div>
             <div style="margin: 44px 0 0 0" class="self-end">
               <q-btn
              color="primary "
              label="Close"
              push
              size="sm"
              v-close-popup
            />
        </div></div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Settings',
  props: {

  },
  data () {
    return {

    }
  },
  beforeDestroy () {
    this.$emit('closed')
  },
  watch: {
    darkMode () {
      this.$store.commit('change_mode_name')
    }
  },
  computed: {
    darkMode () {
      return this.$store.state.darkMode
    },
    mode () {
      return this.$store.state.mode
    },
    showRoomNr () {
      return this.$store.state.showRoomNr
    },
    alarmSound () {
      return this.$store.state.alarmSound
    },
    showPatient () {
      return this.$store.state.showPatient
    },
    showFacilities () {
      return this.$store.state.showFacilities
    },
    showMonioringData () {
      return this.$store.state.showMonioringData
    },
    showAction () {
      return this.$store.state.showAction
    }

  },
  methods: {
    toggleMode () {
      this.$store.commit('change_mode')
    },
    toggleRoomNr () {
      this.$store.commit('showRoomNr')
    },
    toggleAlarm () {
      this.$store.commit('toggleAlarm')
    },
    togglePatient () {
      this.$store.commit('showPatient')
    },
    toggleFacilities () {
      this.$store.commit('showFacilities')
    },
    toggleMonioringData () {
      this.$store.commit('showMonioringData')
    },
    toggleAction () {
      this.$store.commit('showAction')
    },
    refresh () {
      this.$forceUpdate()
    },
    actiontime () {
      return this.$store.state.nextActionTime
    }
  }
}
</script>
